## creating the dataframe

In [2]:
# creating an object of dataframe by using the ndarray object
import numpy as np
import pandas as pd
# creating the ndarray
a=np.array(["Rossum","Travis","Kinni","Dinnes"])
print("content of ndarray")
print(a)
# creaing the dataframe by using the ndarry
df=pd.DataFrame(a)
print("dataframe")
print(df)

content of ndarray
['Rossum' 'Travis' 'Kinni' 'Dinnes']
dataframe
        0
0  Rossum
1  Travis
2   Kinni
3  Dinnes

In [6]:
# creating an object of dataframe by using the ndarray object
import numpy as np
import pandas as pd
# creating the ndarray
a=np.array(["Rossum","Travis","Kinni","Dinnes"])
print("content of ndarray")
print(a)
# creaing the dataframe by using the ndarry
# creating the user defined index and columns 
print("="*50)
df=pd.DataFrame(a,index=["R"+str(i) for i in range(1,5)],columns=["NAME"])
print(df)
print("="*50)

content of ndarray
['Rossum' 'Travis' 'Kinni' 'Dinnes']
==================================================
      NAME
R1  Rossum
R2  Travis
R3   Kinni
R4  Dinnes
==================================================

In [14]:
# creating an object of dataframe by using series object 
s=pd.Series(["Rossum","Travis","Kinny","Dennis","JHunter"])
print("content of series object")
print(s)
print("-"*50)
print("dataframe")
print("+"*50)
df=pd.DataFrame(s)
print(df)
print("-"*50)

content of series object
0     Rossum
1     Travis
2      Kinny
3     Dennis
4    JHunter
dtype: object
--------------------------------------------------
dataframe
++++++++++++++++++++++++++++++++++++++++++++++++++
         0
0   Rossum
1   Travis
2    Kinny
3   Dennis
4  JHunter
--------------------------------------------------

In [16]:
# creating an object of dataframe by using the csv file 
df=pd.read_csv("C:\\placement notes\\Salary_Data.csv")
print(df)

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872